@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$mainFont: Roboto;
$activeNavBarBackgroundColor: #818181;
$nonActiveNavBarBackgroundColor: #a9aaaa;
$activeNavBarTextColor: #d3c751;
$nonActiveNavBarTextColor: #c4c3c3;
$activeNavBarBorderColor: #4a4947;
$nonActiveNavBarBorderColor: #b0b1b0;
$inputBorderColor: #aaa6a5;
$invalidColor: #e74c3c;
$validColor: #2ecc71;